.row
  .col-md-6.col-md-offset-3
    %h1.text-center Sign in
    = form_for(:session, url: sessions_path) do |f|
      .signin-form
        = f.label :email
        = f.text_field :email, class: "iv-form-input"

        = f.label :password
        = f.password_field :password, class: "iv-form-input"

        = f.submit "Sign in", class: 'iv-button'